.petImage{
    width: 350px;
    height: 350px;
    margin-right: 50px;
    margin-left: 100px;
}

.petHr{
    height: 4px;
    width: 300px;
    margin-left: 350px;
    background-color: #C22083;
    margin-bottom: 30px;
}
.petImage>img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.petInfo{
    text-align: left;
}

.petBtn{
    background-color: #C22083;
    color: white;
}

.petBtn:hover{
    background-color: white;
    color:#C22083;
    border-color: #C22083;
}

.petHeader{
    font-weight: bold;
}

.petHeader::after{
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 150px;
    background-color:#C22083 ;
    
}

.headerContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}