.header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.imageWrapper{
    margin-left: 50px;
}
.ul{
    display:flex;
    margin-right: 50px;
    align-items: center;
}

.li{
    padding: 10px;
    margin: 10px;
}

.li>a{
    color: black;
}

.li>a:hover{
    color: #C22083;
    cursor: pointer;
}

@media all and (max-width: 600px){

    .header{
        flex-direction: column;
    }
    .ul{
        flex-direction: column;
    }
}