
.informationHeader{
    font-weight: bold;
}

.informationHeader::after{
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color:#C22083 ;
}

.userMainInfoHeaderH3::after{
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 200px;
    background-color:#C22083 ;
}

.userHr{
    height: 4px;
    background-color: #C22083;
    margin-bottom: 20px;
    max-width: 300px;
    margin-left: 475px;
}

.userInfoHr{
    height: 4px;
    background-color: #C22083;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: 245px;
}

.userMainInfoContent{
    display: flex;
}

.rightAlign{
    text-align: left;
}

.changeUserProfileButton{
    background-color: #C22083;
    color: white;
    font-weight: bold;
    max-width: 80px;
    justify-content: center;
}
